<div class="row">
	<div class="span8 left_side">
		<div class="landing_page_logo">.</div>
		<div class="span3 offset3">
			<p class="slogan">Making the world’s legal information free and understandable.</p>
			<a>Learn more.</a>  
		</div>
		<div class="lightbulb_image">
			<img src="/assets/lightbulb.png">
		</div>
	</div>
	<div class="span6 offset8">
		<div class="sign_up"></div>
		<div class="landing_page_footer">
			<ul class="nav nav-pills small muted text-center">
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">FAQ</a>
				</li>
				<li>
					<a href="#">Jobs</a>
				</li>
				<li>
					<a href="#">Terms</a>
				</li>
				<li>
					<a href="#">Sign Up</a>
				</li>
			</ul>
		</div>
	</div>
</div>